.banner {
  display: flex;
  justify-content: center;
  background-color: red;
  padding-bottom: 1%;
}

.with-sidebar > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 60.5%;
  gap: 1rem;
  margin-bottom: 0;
}
.contact {
  align-items: stretch;
  display: flex;
  flex-basis: 20rem;
  flex-grow: 1;
  min-width: 35%;
}
.text {
  color: black;
}

.container {
  /* global 92%+ browsers support */

  min-height: 100%;
  margin-bottom: 0;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 5%;
  margin-bottom: 0;
  align-items: stretch;
  gap: 1rem;
}

.container li {
  list-style-type: none;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cont {
  display: flex;
}
.title {
  max-width: 100%;
  display: flex;
  font-size: 5vw;
}
.title a {
  color: black;
  text-decoration: none;
}
.alt {
  text-decoration: underline;
}

.tile {
  padding: 3.5%;
  background: var(--color-footer);

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 30% -100%,
    #c1d2e4 25%,
    rgb(255, 255, 255) 85%,
    rgb(164, 192, 223) 100%
  );

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  flex-flow: column;
}

/* * {
  border: 1px solid transparent;
} */
/* .flex {
  display: flex;
  margin: 10px;
  overflow: auto;
}
.flex-col {
  flex-direction: column;
  max-width: 30%;
  align-items: left;
}
.flex-row {
  flex-direction: row;
} */
