.banner {
  display: flex;
  justify-content: center;
  background-color: red;
  padding-bottom: 1%;
}

.with-sidebar > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 60.5%;
  gap: 1rem;
}
.contact {
  align-items: stretch;
  display: flex;
  flex-basis: 20rem;
  flex-grow: 1;
  min-width: 35%;
}

.container {
  background: #9ea4db;
  min-height: 100%;
  margin-bottom: 0;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 5%;
  margin-bottom: 0;
  align-items: stretch;
  gap: 1rem;
}

.container li {
  list-style-type: none;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cont {
  display: flex;
}
.title {
  max-width: 100%;
  display: flex;
  font-size: 5vw;
}
.alt {
  text-decoration: underline;
}

.tile {
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  border-style: solid;
  flex-flow: column;
}

a {
  color: #000000;
}
/* * {
  border: 1px solid transparent;
} */
/* .flex {
  display: flex;
  margin: 10px;
  overflow: auto;
}
.flex-col {
  flex-direction: column;
  max-width: 30%;
  align-items: left;
}
.flex-row {
  flex-direction: row;
} */
