.banner {
  display: flex;
  justify-content: center;
  background-color: red;
  padding-bottom: 1%;
}

.with-sidebar > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 60.5%;
  gap: 1rem;
}
.contact {
  align-items: stretch;
  display: flex;
  flex-basis: 20rem;
  flex-grow: 1;
  min-width: 35%;
}
.text {
  color: #81afdd;
}

.container {
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  min-height: 100%;
  margin-bottom: 0;
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 5%;
  margin-bottom: 0;
  align-items: stretch;
  gap: 1rem;
}

.container li {
  list-style-type: none;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cont {
  display: flex;
}
.title {
  max-width: 100%;
  display: flex;
  font-size: 5vw;
}
.alt {
  text-decoration: underline;
}

.tile {
  padding: 5%;
  background: var(--color-footer);
  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 30% -100%,
    #042c54 25%,
    rgba(4, 44, 84, 1) 85%,
    rgba(27, 120, 222, 1) 100%
  );

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  flex-flow: column;
}

a {
  color: var(--gradient-text);
  text-decoration: none;
}

/* * {
  border: 1px solid transparent;
} */
/* .flex {
  display: flex;
  margin: 10px;
  overflow: auto;
}
.flex-col {
  flex-direction: column;
  max-width: 30%;
  align-items: left;
}
.flex-row {
  flex-direction: row;
} */
