.container {
  position: sticky;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #201c41;
}
.link {
  float: left;
  border-right: 1px solid #bbb;
}
.container :last-child {
  border-right: none;
}
.link a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
.link a:hover {
  background-color: #111;
}
